# PCAED 22/23 - Team Work

## Setup

In [1]:
import pandas as pd

In [93]:
data_path = "Dados Estações 2020-2021/DadosOriginais/"
data_path_p = "Dados Estações 2020-2021/DadosPreprocessados/"

## Reading the original data

In [14]:
# datasources coordinates
ds_coordinates = pd.read_csv(data_path + 'datasources_coordinates.txt', sep='|')

In [8]:
ds_coordinates.columns

Index(['datasource_id', 'dataprovider_id', 'datasourcetype_id',
       'datasource_name', 'datasource_externalid', 'datasource_location',
       'datasource_properties', 'datasource_metadata', 'created_at',
       'updated_at', 'deleted_at', 'pob_station', 'datasource_longitude',
       'datasource_latitude'],
      dtype='object')

In [15]:
# datasources
ds = pd.read_csv(data_path + 'datasources.txt', sep='|')

In [13]:
ds.datasource_name

0              Vale da Fonte
1     Azambujeira dos Carros
2                 Vale Leite
3                 Barrocalvo
4                     Termas
               ...
71                  Alcobaça
72        Leiria (Aeródromo)
73             Casal Serrano
74            Vale Maceira 1
75                  Formigão
Name: datasource_name, Length: 76, dtype: object

In [19]:
#data series
data_series = pd.read_csv(data_path + 'series.txt', sep='|')

In [32]:
# files with series data
files_with_series_data = ["seriesdata_051.txt", "seriesdata_002.txt", "seriesdata_003.txt", "seriesdata_009.txt", "seriesdata_013.txt", "seriesdata_014.txt", "seriesdata_015.txt", "seriesdata_016.txt", "seriesdata_028.txt", "seriesdata_029.txt", "seriesdata_030.txt", "seriesdata_031.txt", "seriesdata_037.txt"]

In [38]:
files_with_series_data

['seriesdata_051.txt',
 'seriesdata_002.txt',
 'seriesdata_003.txt',
 'seriesdata_009.txt',
 'seriesdata_013.txt',
 'seriesdata_014.txt',
 'seriesdata_015.txt',
 'seriesdata_016.txt',
 'seriesdata_028.txt',
 'seriesdata_029.txt',
 'seriesdata_030.txt',
 'seriesdata_031.txt',
 'seriesdata_037.txt']

In [54]:
# reading the series data
ser_data = pd.read_csv(data_path + 'seriesdata_001.txt', sep='|')
for f in files_with_series_data:
    ser_data = pd.concat([ser_data, pd.read_csv(data_path + f, sep='|')], ignore_index=True)

In [55]:
ser_data

,series_id,seriesdata_seq,seriesdata_timestamp,seriesdata_value,seriesdata_realvalue,seriesdata_location,seriesdata_properties,seriesdata_metadata,created_at,updated_at,deleted_at
0,1,28825313,2020-01-01 00:00:00,NaN,7.4,NaN,NaN,NaN,2020-01-01 22:00:14.457044,NaN,NaN
1,1,28877735,2020-01-01 00:15:00,NaN,6.6,NaN,NaN,NaN,2020-01-02 22:00:15.81617,NaN,NaN
2,1,28877736,2020-01-01 00:30:00,NaN,5.7,NaN,NaN,NaN,2020-01-02 22:00:15.81617,NaN,NaN
3,1,28877737,2020-01-01 00:45:00,NaN,7.1,NaN,NaN,NaN,2020-01-02 22:00:15.81617,NaN,NaN
4,1,28877738,2020-01-01 01:00:00,NaN,7.1,NaN,NaN,NaN,2020-01-02 22:00:15.81617,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11273731,2124,1839844475,2021-12-31 19:00:00,NaN,0.9,NaN,NaN,NaN,2022-01-01 07:45:02.286568,NaN,NaN
11273732,2124,1839844476,2021-12-31 20:00:00,NaN,0.6,NaN,NaN,NaN,2022-01-01 07:45:02.286568,NaN,NaN
11273733,2124,1839844477,2021-12-31 21:00:00,NaN,0.6,NaN,NaN,NaN,2022-01-01 07:45:02.286568,NaN,NaN
11273734,2124,1839844478,2021-12-31 22:00:00,NaN,0.6,NaN,NaN,NaN,2022-01-01 07:45:02.286568,NaN,NaN
11273735,2124,1839844479,2021-12-31 23:00:00,NaN,0.4,NaN,NaN,NaN,2022-01-01 07:45:02.286568,NaN,NaN

## Reading the pre-processed data

In [94]:
# data sources already include the coordinates information 
# also some unecessary fields were removed
# and only includes stations from IMPA and [datasourcetype_name] = "Weather Station"
dsources_p = pd.read_csv(data_path_p + 'datasources_p.csv')
dsources_p.head(10)

,datasourcetype_id,dataprovider_id,datasource_id,datasource_name,datasource_externalid,datasource_metadata,pob_station,dataprovider_name,datasourcetype_name,longitude,latitude
0,1,4,28,Iscarção,643,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",True,WiseCrop,Weather Station,"-9,03668","39,26951"
1,1,4,29,Vale da Fonte,697,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",True,WiseCrop,Weather Station,"-9,206385","39,274678"
2,1,4,31,Qta do Brejo,642,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",True,WiseCrop,Weather Station,"-9,064003","39,249927"
3,1,4,8,Quinta do Rato,717,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",True,WiseCrop,Weather Station,"-9,119531","39,478397"
4,1,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,Weather Station,"-9,01499","39,28281"
5,1,1,17,AARA Montes,000005D5,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,Weather Station,"-8,98321","39,5525"
6,1,1,18,AARA Cela,00000604,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,Weather Station,"-8,98303","39,54985"
7,1,1,19,AARA Alfeizerao,00000605,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,Weather Station,"-8,98293","39,54997"
8,1,1,20,AARA Maiorga,00000B43,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,Weather Station,"-8,98166","39,55263"
9,1,5,32,Carrascal,9002,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,TerraPro,Weather Station,"-9,27838","38,99926"

In [95]:
dsources_p.columns

Index(['datasourcetype_id', 'dataprovider_id', 'datasource_id',
       'datasource_name', 'datasource_externalid', 'datasource_metadata',
       'pob_station', 'dataprovider_name', 'datasourcetype_name', 'longitude',
       'latitude'],
      dtype='object')

In [96]:
dsources_p.index

RangeIndex(start=0, stop=33, step=1)

In [98]:
# series is similar with series.txt but some unecessary fields were removed"
series_p = pd.read_csv(data_path_p + 'series_p.csv')
series_p

,seriesvariable_id,seriestype_id,series_id,datasource_id,seriestype_name,datatype_id,seriesperiod_id,calculationmethod_id,unit_symbol,seriesvariable_label,seriesvariable_longname,seriesvariable_standardname,seriesvariable_description
0,167,1,2105,16,Raw Series,37,3,1,°C,MEDPNTDP30M,Mean Dew Point Depression (30m),mean(dew_point_depression PT30M),Mean dew point depression in the last 30 minutes
1,60,1,205,16,Raw Series,2,7,3,°C,MXSOILTEMP3M,Maximum Soil Temperature (3m),max(soil_temperature PT3M),Maximum soil temperature in the last 3 minutes
2,21,1,475,6,Raw Series,6,4,5,min,ACCLFWET15M,Leaf Wetness Time (15m),accumulated(leaf_wetness PT15M),Accumulated time of leaf wetness in the last 1...
3,33,1,487,8,Raw Series,4,4,3,m/s,MXWNDSPD15M,Maximum Wind Speed (15m),max(wind_speed PT15M),Maximum wind speed in the last 15 minutes
4,81,1,489,8,Raw Series,7,4,1,kPa,MEVPD15M,Mean VPD (15m),mean(water_vapor_saturation_deficit PT15M),Mean VPD in the last 15 minutes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,168,1,2136,22,Raw Series,37,4,1,°C,MEDPNTDP15M,Mean Dew Point Depression (15m),mean(dew_point_depression PT15m),Mean dew point depression in the last 15 minutes
663,168,1,2137,11,Raw Series,37,4,1,°C,MEDPNTDP15M,Mean Dew Point Depression (15m),mean(dew_point_depression PT15m),Mean dew point depression in the last 15 minutes
664,168,1,2138,12,Raw Series,37,4,1,°C,MEDPNTDP15M,Mean Dew Point Depression (15m),mean(dew_point_depression PT15m),Mean dew point depression in the last 15 minutes
665,166,1,2139,36,Raw Series,37,2,1,°C,MEDPNTDP1H,Mean Dew Point Depression (1h),mean(dew_point_depression PT1H),Mean dew point depression in the last hour
666,166,1,2140,35,Raw Series,37,2,1,°C,MEDPNTDP1H,Mean Dew Point Depression (1h),mean(dew_point_depression PT1H),Mean dew point depression in the last hour

In [99]:
series_p.columns

Index(['seriesvariable_id', 'seriestype_id', 'series_id', 'datasource_id',
       'seriestype_name', 'datatype_id', 'seriesperiod_id',
       'calculationmethod_id', 'unit_symbol', 'seriesvariable_label',
       'seriesvariable_longname', 'seriesvariable_standardname',
       'seriesvariable_description'],
      dtype='object')

In [100]:
series_p.index

RangeIndex(start=0, stop=667, step=1)

In [101]:
series_p.describe(include='object')

,seriestype_name,unit_symbol,seriesvariable_label,seriesvariable_longname,seriesvariable_standardname,seriesvariable_description
count,667,667,667,667,667,610
unique,1,9,73,74,74,71
top,Raw Series,°C,MXAIRTEMP1D,Mean Air Temperature (1h),mean(air_temperature PT1H),Mean wind speed in the last hour
freq,667,254,38,35,35,35

In [102]:
series_p['seriesvariable_longname'].unique()

array(['Mean Dew Point Depression (30m)', 'Maximum Soil Temperature (3m)',
       'Leaf Wetness Time (15m)', 'Maximum Wind Speed (15m)',
       'Mean VPD (15m)', 'Mean Air Temperature (30m)',
       'Mean Air Temperature (3m)', 'Max Air Temperature (30m)',
       'Max Air Temperature (3m)', 'Min Air Temperature (30m)',
       'Min Air Temperature (3m)', 'Leaf Wetness Time (30m)',
       'Mean Wind Speed (30m)', 'Mean Wind Speed (3m)',
       'Maximum Wind Speed (30m)', 'Maximum Wind Speed (3m)',
       'Sum Precipitation Amount (30m)', 'Sum Precipitation Amount (3m)',
       'Minimum Soil Temperature (30m)', 'Minimum Soil Temperature (3m)',
       'Mean Soil Temperature (30m)', 'Mean Soil Temperature (3m)',
       'Maximum Soil Temperature (30m)', 'Mean Dew Point (30m)',
       'Mean Dew Point (3m)', 'Minimum Dew Point (30m)',
       'Minimum Dew Point (3m)', 'Mean Relative Humidity (30m)',
       'Mean Relative Humidity (3m)', 'Mean Solar Radiation (30m)',
       'Mean Solar Radiation (3m)',
       'Mean Reference Evapotranspiration (30m)',
       'Mean Air Temperature (15m)', 'Max Air Temperature (15m)',
       'Min Air Temperature (15m)', 'Mean Relative Humidity (15m)',
       'Mean Dew Point (15m)', 'Mean Wind Speed (15m)',
       'Sum Precipitation Amount (15m)', 'Mean Solar Radiation (15m)',
       'Mean Wind Speed Direction (15m)',
       'Max Wind Speed Direction (15m)',
       'Mean Surface Air Pressure (15m)', 'Max Solar Radiation (15m)',
       'Mean Dew Point (1h)', 'Mean Air Temperature (1h)',
       'Mean Relative Humidity (1h)', 'Mean Soil Temperature (15m)',
       'Maximum Soil Temperature (15m)', 'Minimum Soil Temperature (15m)',
       'Minimum Dew Point (15m)', 'Max Air Temperature (1h)',
       'Min Air Temperature (1h)', 'Leaf Wetness Time (1h)',
       'Mean Wind Speed (1h)', 'Maximum Wind Speed (1h)',
       'Sum Precipitation Amount (1h)', 'Minimum Dew Point (1h)',
       'Mean Solar Radiation (1h)',
       'Mean Reference Evapotranspiration (1h)', 'Mean VPD (1h)',
       'Minimum VPD (1h)', 'Maximum Relative Humidity (1h)',
       'Minimum Relative Humidity (1h)',
       'Max of the max wind speed in the last hour',
       'Mean Reference Evapotranspiration (15m)',
       'Mean Wind Speed Direction (30m)',
       'Mean Wind Speed Direction (1h)', 'Mean Surface Air Pressure (1h)',
       'Maximum temperature for the day',
       'Minimum temperature for the day',
       'Mean wind direction for the day',
       'Mean Dew Point Depression (15m)',
       'Mean Dew Point Depression (1h)'], dtype=object)

In [103]:
# SourcesAndSeries integrates by join the information from dsorces_p and series_p
sources_series_p = pd.read_csv(data_path_p + 'SourcesAndSeries.csv')
sources_series_p.head(20)

,dataprovider_id,datasource_id,datasource_name,datasource_externalid,datasource_metadata,pob_station,dataprovider_name,seriesvariable_id,series_id,datatype_id,seriesperiod_id,calculationmethod_id,unit_symbol,seriesvariable_label,seriesvariable_longname,seriesvariable_standardname,seriesvariable_description,longitude,latitude
0,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,167,2105,37,3,1,°C,MEDPNTDP30M,Mean Dew Point Depression (30m),mean(dew_point_depression PT30M),Mean dew point depression in the last 30 minutes,-9.014990,39.282810
1,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,60,205,2,7,3,°C,MXSOILTEMP3M,Maximum Soil Temperature (3m),max(soil_temperature PT3M),Maximum soil temperature in the last 3 minutes,-9.014990,39.282810
2,2,6,CPFSanta,CPFSanta,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,APAS,21,475,6,4,5,min,ACCLFWET15M,Leaf Wetness Time (15m),accumulated(leaf_wetness PT15M),Accumulated time of leaf wetness in the last 1...,-8.641799,39.254189
3,4,8,Quinta do Rato,717,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",True,WiseCrop,33,487,4,4,3,m/s,MXWNDSPD15M,Maximum Wind Speed (15m),max(wind_speed PT15M),Maximum wind speed in the last 15 minutes,-9.119531,39.478397
4,4,8,Quinta do Rato,717,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",True,WiseCrop,81,489,7,4,1,kPa,MEVPD15M,Mean VPD (15m),mean(water_vapor_saturation_deficit PT15M),Mean VPD in the last 15 minutes,-9.119531,39.478397
5,4,9,Ramalheira,294,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,WiseCrop,81,498,7,4,1,kPa,MEVPD15M,Mean VPD (15m),mean(water_vapor_saturation_deficit PT15M),Mean VPD in the last 15 minutes,-9.103403,39.291280
6,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,2,175,1,3,1,°C,MEAIRTEMP30M,Mean Air Temperature (30m),mean(air_temperature PT30M),Mean temperature in the last 30 minutes,-9.014990,39.282810
7,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,6,177,1,7,1,°C,MEAIRTEMP3M,Mean Air Temperature (3m),mean(air_temperature PT3M),Mean temperature in the last 3 minutes,-9.014990,39.282810
8,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,8,178,1,3,3,°C,MXAIRTEMP30M,Max Air Temperature (30m),max(air_temperature PT30M),Maximum temperature in the last 30 minutes,-9.014990,39.282810
9,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,12,180,1,7,3,°C,MXAIRTEMP3M,Max Air Temperature (3m),max(air_temperature PT3M),Maximum temperature in the last 3 minutes,-9.014990,39.282810
10,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,14,181,1,3,2,°C,MNAIRTEMP30M,Min Air Temperature (30m),min(air_temperature PT30M),Minimum temperature in the last 30 minutes,-9.014990,39.282810
11,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,18,183,1,7,2,°C,MNAIRTEMP3M,Min Air Temperature (3m),min(air_temperature PT3M),Minimum temperature in the last 3 minutes,-9.014990,39.282810
12,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,20,184,6,3,5,min,ACCLFWET30M,Leaf Wetness Time (30m),accumulated(leaf_wetness PT30M),Accumulated time of leaf wetness in the last 3...,-9.014990,39.282810
13,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,26,187,4,3,1,m/s,MEWNDSPD30M,Mean Wind Speed (30m),mean(wind_speed PT30M),Mean wind speed in the last 30 minutes,-9.014990,39.282810
14,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,30,189,4,7,1,m/s,MEWNDSPD3M,Mean Wind Speed (3m),mean(wind_speed PT3M),Mean wind speed in the last 3 minutes,-9.014990,39.282810
15,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,32,190,4,3,3,m/s,MXWNDSPD30M,Maximum Wind Speed (30m),max(wind_speed PT30M),Maximum wind speed in the last 30 minutes,-9.014990,39.282810
16,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,36,193,4,7,3,m/s,MXWNDSPD3M,Maximum Wind Speed (3m),max(wind_speed PT3M),Maximum wind speed in the last 3 minutes,-9.014990,39.282810
17,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,38,194,3,3,4,mm,SMPRCPTAM30M,Sum Precipitation Amount (30m),sum(precipitation_amount PT30M),Sum of precipitation amount in the last 30 min...,-9.014990,39.282810
18,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,42,196,3,7,4,mm,SMPRCPTAM3M,Sum Precipitation Amount (3m),sum(precipitation_amount PT3M),Sum of precipitation amount in the last 3 minutes,-9.014990,39.282810
19,1,16,COTHN,000004BB,"{""Timezone"": ""Europe/Lisbon"", ""Daylight offset...",False,PESSL,62,206,2,3,2,°C,MNSOILTEMP30M,Minimum Soil Temperature (30m),min(soil_temperature PT30M),Minimum soil temperature in the last 30 minutes,-9.014990,39.282810

In [105]:
# seriesdata_p is the result concatenation of "seriesdata_NNN.txt"
seriesdata_p = pd.read_csv(data_path_p + 'seriesdata_p.csv', low_memory=False)
seriesdata_p

,datasource_externalid,series_id,datatype_id,seriesdata_timestamp,seriesdata_realvalue,Real Value
0,Coopval03VN,41,18,29/11/2020 00:00:00,NaN,NaN
1,Coopval03VN,41,18,12/01/2021 17:45:00,NaN,NaN
2,Coopval03VN,41,18,12/01/2021 18:00:00,NaN,NaN
3,Coopval03VN,41,18,28/11/2020 20:30:00,NaN,NaN
4,Coopval03VN,41,18,28/11/2020 20:45:00,NaN,NaN
...,...,...,...,...,...,...
9873960,CABValeC,129,1,14/10/2020 20:00:00,12.2,12.2
9873961,CABValeC,129,1,15/10/2020 20:00:00,12.2,12.2
9873962,CABValeC,129,1,16/10/2020 18:45:00,12.2,12.2
9873963,CABValeC,129,1,17/10/2020 20:30:00,12.2,12.2
9873964,CABValeC,129,1,21/10/2020 23:45:00,12.2,12.2

In [106]:
# This dataframe is a good exemple of long format
print('Number of distint series: ', len(seriesdata_p['series_id'].unique()))
print('Number of rows: ', seriesdata_p.index.max())
print('Number of null (in the measure): ', seriesdata_p['Real Value'].isna().sum())
print('Number of valid values (in the measure): ', seriesdata_p.index.max() - seriesdata_p['Real Value'].isna().sum())

Number of distint series:  145
Number of rows:  9873964
Number of null (in the measure):  629669
Number of valid values (in the measure):  9244295

In [114]:
# Check duplicated rows
seriesdata_p.duplicated(keep=False).sum()

664

In [ ]:
# Check wich